<form method="POST" action="">
    {% csrf_token %}
  <div class="container">


    <label for="name"><b>name</b></label>
    <input type="text" placeholder="Enter name" name="name" id="name" required><br>

    <label for="age"><b>age</b></label>
    <input type="text" placeholder="Enter age" name="age" id="age" required><br>

    <label for="title"><b>title</b></label>
    <input type="text" placeholder="Enter title" name="title" id="title" required><br>

    <label for="Experience"><b>Experience</b></label>
    <input type="text" placeholder="Experience" name="Experience" id="Experience" required><br>

    <label for="dept_name"><b>Department</b></label>
    <input type="text" placeholder="Department" name="dept_name" id="dept_name" required><br>

    <label for="salary"><b>salary</b></label>
    <input type="text" placeholder="Enter salary in INR" name="salary" id="salary" required><br>


    <input type="submit">

  </div>
</form>
